/* CSS cho phần thân trang */
body {
  font-family: 'Protest Riot', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.container {
  text-align: center;
}

.cat-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.title {
  font-size: 1.5em;
  color: #333;
}

.title span {
  font-size: 1.5em; /* Kích thước chữ 1.5em */
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1em;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn--yes {
  background-color: #4caf50;
  color: white;
}

.btn--no {
  background-color: #f44336;
  color: white;
}
